@use "../../variables" as *;

.footer {
    width: 100%;
    padding: 1rem;
    flex-shrink: 0;
    background: $bg-color;
    grid-column: 1 / -1;
    animation: footerAppearance calc($global-animation-delay * 2) ease-in-out;

    @keyframes footerAppearance {
        0%, 50% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @media (max-width: $mobile-max-width) {
        animation: footerMobileAppearance calc($global-animation-delay * 2) ease-in-out;

        @keyframes footerMobileAppearance {
            0%, 50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
    }

    &__text {
        font-weight: 500;
        font-size: 12px;
    }

    @media (max-width: $mobile-max-width) {
        position: sticky;
        bottom: 0;
        left: 0;
        border-top: 2px solid $btn-color;
    }
}