@use "../../variables" as *;
@use "../burger/burger";
@use "sass:color";

$border-bottom-height: 2px;

.top-menu {
    background: $bg-color;
    color: $text-color;
    position: relative;
    height: $horizontal-nav-height;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    grid-column: 2 / -1;
    transition: background $transition-medium, box-shadow $transition-medium;

    @media (min-width: $tablet-max-width) {
        &:hover {
            background: color.scale($bg-color, $lightness: -5%);
        }
    }

    @media(max-width: $tablet-max-width) {
        grid-column: 1 / -1;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 102;
    }

    @media(max-width: $mobile-max-width) {
        &::after {
            content: "";
            display: block;
            max-width: 0;
            width: calc(100% - 1rem - $burger-width);
            height: 100%;
            overflow: hidden;
            z-index: 10;
            background-color: $bg-color;
            position: absolute;
            left: calc(1rem + $burger-width);
            top: 0;
            transition: max-width $transition-medium;
        }
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        gap: 1.5rem;
    }

    &__item {
        padding: 0.5rem 0;
        cursor: pointer;
        transition: opacity $transition-medium;

        @media (min-width: $tablet-max-width) {
            &:hover {
                .button {
                    transform: scale(1.1);

                    path, circle, rect {
                        opacity: 0.3;
                    }
                }
            }
        }

        @media (max-width: $tablet-max-width) {
            &:active {
                .button {
                    transform: scale(1.1);

                    path, circle, rect {
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}

body:has(#burger:checked) .top-menu {
    @media (max-width: $tablet-max-width) {
        box-shadow: none;
        border-bottom: 2px solid transparent;
    }

    @media (max-width: $mobile-max-width) {
        &::after {
            max-width: 100%;
        }
    }
}