@use "../../variables" as *;
@use "sass:color";

.side-menu {
    $width: 310px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 101;
    width: $width;
    padding: 20px 1rem;
    border-right: 2px solid $btn-color;
    border-bottom: 2px solid $btn-color;
    background: $bg-color;
    overflow-y: auto;
    transition: $transition-medium;

    @media (min-width: $tablet-max-width) {
        &:hover {
            background: color.scale($bg-color, $lightness: -5%);
        }
    }

    @media (max-width: $tablet-max-width) {
        height: 100vh;
        position: fixed;
        left: -$mobile-max-width;
        visibility: hidden;
    }

    @media (max-width: $mobile-max-width) {
        width: 100%;
        left: -$mobile-max-width;
    }

    &__container {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1.5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.6rem;
        border-radius: 30px;
        cursor: pointer;
        transition: background $transition-medium;

        &__icon {
            width: 20px;
            height: 20px;
        }

        @media (min-width: $tablet-max-width) {
            &:hover {
                background: $active-element-color;
            }
        }

        @media (max-width: $tablet-max-width) {
            &:active {
                background: $active-element-color;
            }
        }
    }

    &__close {
        width: 24px;
        height: 21px;
        position: relative;
        z-index: 100;
        background: transparent;
        cursor: pointer;
        display: none;
        margin-bottom: 1.5rem;
        transition: transform $transition-medium;

        @media (max-width: $tablet-max-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &::after, &::before {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background: $btn-color;
            border-radius: 2px;
        }

        &::before {
            transform: translateY(8px) rotate(45deg);
        }

        &::after {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

body[aria-expanded="true"] .side-menu {
    @media (max-width: $tablet-max-width) {
        left: 0;
        visibility: visible;
    }
}