@use "../../variables" as *;
@use "sass:color";

$animation-delay: calc($global-animation-delay * 3);

.side-menu {
    width: $vertical-nav-width;
    padding: 20px 1rem;
    border-right: 2px solid $btn-color;
    border-bottom: 2px solid $btn-color;
    background: var(--bg-color);
    grid-row: 1 / -1;
    transition: transform $transition-medium, background $transition-medium;

    @keyframes verticalNavAppearance {
        0%, 66% {
            transform: translateX(-100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @media (min-width: $tablet-max-width) {
        animation: verticalNavAppearance $animation-delay ease-in-out;

        &:hover {
            background: color.scale($bg-color, $lightness: -5%);
        }
    }

    @media (max-width: $tablet-max-width) {
        height: 100vh;
        position: fixed;
        top: $horizontal-nav-height;
        z-index: 101;
        transform: translateX(-$mobile-max-width);
        border-right: none;
        background: $bg-color;
    }

    @media (max-width: $mobile-max-width) {
        width: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1.5rem;
        max-height: 75vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__item {
        display: flex;
        align-items: stretch;
        gap: 0.5rem;
        padding: 0.6rem;
        border-radius: 30px;
        cursor: pointer;
        transition: background $transition-medium;

        &__icon {
            width: 23px;
            height: 23px;
        }

        &__icon-container {
            fill: $btn-color;
        }

        &__content {
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
        }

        @media (min-width: $tablet-max-width) {
            &:hover {
                background: $active-element-color;
            }

            &__icon {
                animation: icon 0.5s ease-in-out calc($animation-delay - $global-animation-delay);
            }

            &__content {
                animation: content 1.5s ease-in-out calc($animation-delay - $global-animation-delay);
            }
        }

        @media (max-width: $tablet-max-width) {
            &:active {
                background: $active-element-color;
            }
        }

        @keyframes icon {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes content {
            0%, 33% {
                max-width: 0;
            }

            100% {
                max-width: 100%;
            }
        }
    }
}

body:has(#burger:checked) .side-menu {
    @media (max-width: $tablet-max-width) {
        transform: translateX(0);

        .side-menu__item__icon {
            animation: icon 0.5s ease-in-out;
        }

        .side-menu__item__content {
            animation: content 1.5s ease-in-out;
        }
    }
}