@use "variables" as *;
@use "components/nav/horizontal-nav";
@use "components/nav/vertical-nav";
@use "components/buttons/buttons";
@use "components/footer/footer";
@use "components/cards/cards";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: $bg-color;
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-rows: 60px auto auto;
}

body:has(#burger:checked) {
    @media (max-width: $mobile-max-width) {
        overflow-y: hidden;
    }
}

main {
    display: flex;
    flex: 1 0 auto;
    min-height: 77vh;

    @media (max-width: $tablet-max-width) {
        grid-column: 1 / -1;
        border-bottom: none;
    }

    .content {
        flex: 1;
        position: relative;
        border-bottom: 2px solid $btn-color;

        @media (max-width: $mobile-max-width) {
            border-bottom: none;
        }
    }
}