@use "variables" as *;
@use "components/nav/horizontal-nav";
@use "components/nav/vertical-nav";
@use "components/buttons/buttons";
@use "components/footer/footer";
@use "components/cards/cards";

:root {
    --bg-color: #D6BDFF;
}

:root:has(#circle:target) {
    --bg-color: #95D9FF;
}

:root:has(#rectangle:target) {
    --bg-color: #ADFCC8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-rows: 60px auto auto;
    overflow-x: hidden;
    transition: background-color $transition-medium;
}

body:has(#burger:checked) {
    @media (max-width: $mobile-max-width) {
        overflow-y: hidden;
    }
}

body:has(.card:focus) {
    overflow-y: hidden;
}

main {
    display: flex;
    flex: 1 0 auto;
    min-height: 77vh;
    animation: mainAppearance calc($global-animation-delay * 4 + 0.5s) ease-in-out;

    // Появление контента страницы при заходе на нее
    @keyframes mainAppearance {
        0%, 75% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @media (max-width: $tablet-max-width) {
        grid-column: 1 / -1;
        border-bottom: none;
        animation: mainAppearance calc($global-animation-delay * 3) ease-in-out;
    }

    .content {
        flex: 1;
        position: relative;
        border-bottom: 2px solid $btn-color;

        @media (max-width: $mobile-max-width) {
            border-bottom: none;
        }
    }
}