@use "../../variables" as *;

$line-height: 5px;
$gap: 3px;

// Скрытие checkbox
#burger {
    display: none;
}

.burger {
    width: $burger-width;
    height: calc($line-height * 3 + $gap * 2);
    position: relative;
    background: transparent;
    cursor: pointer;
    display: none;
    transition: transform $transition-medium;

    @media (max-width: $tablet-max-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &::after, &::before {
        content: "";
    }

    &__line, &::after, &::before {
        display: block;
        width: 100%;
        height: $line-height;
        background: $btn-color;
        border-radius: 2px;
        transition: transform $transition-medium, opacity $transition-medium;
    }
}

// Трансформация бургера при активном checkbox
#burger:checked + .burger {
    $yDiff: calc($line-height + $gap);

    transform: rotate(180deg);

    &::before {
        transform: translateY($yDiff) rotate(45deg);
    }

    .burger__line {
        opacity: 0;
    }

    &::after {
        transform: translateY(-$yDiff) rotate(-45deg);
    }
}