<div class="cards">
    <div class="card">
        <h5 class="card__title">README</h5>
        <p class="card__text">Для проверки можно воспользоваться соответствующими пунктами меню слева :)</p>
    </div>
    <div class="card">
        <h5>2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>3</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>4</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>5</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>README</h5>
        <p>Для проверки можно воспользоваться соответствующими пунктами меню слева :)</p>
    </div>
    <div class="card">
        <h5>2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>3</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>4</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>5</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>6</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5>7</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
</div>