<div class="cards">
    <div class="card">
        <h5 class="card__title">README</h5>
        <p class="card__text">Для проверки можно воспользоваться соответствующими пунктами меню слева :)</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
</div>