<div class="cards">
    <div class="card" tabindex="0">
        <div class="card__body">
            <div class="card__image">
                <picture class="card__picture">
                    <source media="(max-width: 639px)" srcset="public/img_2_600x600.webp">
                    <source media="(max-width: 1023px)" srcset="public/img_2_800x800.webp">
                    <img class="card__picture__img" src="public/img_2.webp" />
                </picture>
                <div class="card__image__scroll scroll">
                    <span class="scroll__arrow"></span>
                    <span class="scroll__thumb"></span>
                    <svg class="scroll__icon-container" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <use class="scroll__icon" href="public/icons.svg#hand-index-icon"></use>
                    </svg>
                </div>
            </div>
            <div class="card__content">
                <h5 class="card__title">README</h5>
                <p class="card__text">Для проверки можно воспользоваться соответствующими пунктами меню слева :)</p>
            </div>
        </div>
    </div>
    <div class="card" tabindex="0">
        <div class="card__body">
            <div class="card__image">
                <picture class="card__picture">
                    <source media="(max-width: 639px)" srcset="public/img_1_600x600.webp">
                    <source media="(max-width: 1023px)" srcset="public/img_1_800x800.webp">
                    <img class="card__picture__img" src="public/img_1.webp" />
                </picture>
                <div class="card__image__scroll scroll">
                    <span class="scroll__arrow"></span>
                    <span class="scroll__thumb"></span>
                    <svg class="scroll__icon-container" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <use class="scroll__icon" href="public/icons.svg#hand-index-icon"></use>
                    </svg>
                </div>
            </div>
            <div class="card__content">
                <h5 class="card__title">What is Lorem Ipsum?</h5>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem vero totam nostrum quae. Tenetur doloremque explicabo aliquid laudantium laboriosam distinctio qui dolor praesentium. Consequatur officiis molestias error dolorum perspiciatis dolor!
                    Temporibus vel quos modi quas deserunt illum quasi necessitatibus reprehenderit error, commodi provident maiores eum laboriosam odit inventore placeat eius ab eos aperiam aliquid! Atque incidunt perspiciatis repellat impedit ducimus.
                    Maiores cupiditate non ipsam accusantium quas quaerat nisi suscipit accusamus, libero necessitatibus amet ullam, illum voluptatem, inventore cumque. Modi iure sed ipsam voluptates sit rem quo reiciendis error a aperiam!
                    Deserunt neque blanditiis fugiat dolorum nostrum rerum illum eveniet, expedita sit magni est debitis voluptates repudiandae cumque quibusdam placeat consequuntur nemo quisquam! Harum consequuntur recusandae exercitationem sapiente labore. Saepe, dolore!
                    Voluptates libero debitis voluptatem molestias dolore in a harum repellat ea, ex provident quidem eaque asperiores quae amet, fuga fugiat id accusantium possimus voluptatum cum illum? Omnis quis eos earum!
                </p>
            </div>
        </div>
    </div>
    <div class="card" tabindex="0">
        <div class="card__body">
            <div class="card__image">
                <picture class="card__picture">
                    <source media="(max-width: 639px)" srcset="public/img_5_600x600.png">
                    <source media="(max-width: 1023px)" srcset="public/img_5_800x800.png">
                    <img class="card__picture__img" src="public/img_5.png" />
                </picture>
                <div class="card__image__scroll scroll">
                    <span class="scroll__arrow"></span>
                    <span class="scroll__thumb"></span>
                    <svg class="scroll__icon-container" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <use class="scroll__icon" href="public/icons.svg#hand-index-icon"></use>
                    </svg>
                </div>
            </div>
            <div class="card__content">
                <h5 class="card__title">What is Lorem Ipsum?</h5>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem vero totam nostrum quae. Tenetur doloremque explicabo aliquid laudantium laboriosam distinctio qui dolor praesentium. Consequatur officiis molestias error dolorum perspiciatis dolor!
                    Temporibus vel quos modi quas deserunt illum quasi necessitatibus reprehenderit error, commodi provident maiores eum laboriosam odit inventore placeat eius ab eos aperiam aliquid! Atque incidunt perspiciatis repellat impedit ducimus.
                    Maiores cupiditate non ipsam accusantium quas quaerat nisi suscipit accusamus, libero necessitatibus amet ullam, illum voluptatem, inventore cumque. Modi iure sed ipsam voluptates sit rem quo reiciendis error a aperiam!
                    Deserunt neque blanditiis fugiat dolorum nostrum rerum illum eveniet, expedita sit magni est debitis voluptates repudiandae cumque quibusdam placeat consequuntur nemo quisquam! Harum consequuntur recusandae exercitationem sapiente labore. Saepe, dolore!
                    Voluptates libero debitis voluptatem molestias dolore in a harum repellat ea, ex provident quidem eaque asperiores quae amet, fuga fugiat id accusantium possimus voluptatum cum illum? Omnis quis eos earum!
                </p>
            </div>
        </div>
    </div>
    <div class="card" tabindex="0">
        <div class="card__body">
            <div class="card__image">
                <picture class="card__picture">
                    <source media="(max-width: 639px)" srcset="public/img_4_600x600.jpg">
                    <source media="(max-width: 1023px)" srcset="public/img_4_800x800.jpg">
                    <img class="card__picture__img" src="public/img_4.jpg" />
                </picture>
                <div class="card__image__scroll scroll">
                    <span class="scroll__arrow"></span>
                    <span class="scroll__thumb"></span>
                    <svg class="scroll__icon-container" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <use class="scroll__icon" href="public/icons.svg#hand-index-icon"></use>
                    </svg>
                </div>
            </div>
            <div class="card__content">
                <h5 class="card__title">What is Lorem Ipsum?</h5>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem vero totam nostrum quae. Tenetur doloremque explicabo aliquid laudantium laboriosam distinctio qui dolor praesentium. Consequatur officiis molestias error dolorum perspiciatis dolor!
                    Temporibus vel quos modi quas deserunt illum quasi necessitatibus reprehenderit error, commodi provident maiores eum laboriosam odit inventore placeat eius ab eos aperiam aliquid! Atque incidunt perspiciatis repellat impedit ducimus.
                    Maiores cupiditate non ipsam accusantium quas quaerat nisi suscipit accusamus, libero necessitatibus amet ullam, illum voluptatem, inventore cumque. Modi iure sed ipsam voluptates sit rem quo reiciendis error a aperiam!
                    Deserunt neque blanditiis fugiat dolorum nostrum rerum illum eveniet, expedita sit magni est debitis voluptates repudiandae cumque quibusdam placeat consequuntur nemo quisquam! Harum consequuntur recusandae exercitationem sapiente labore. Saepe, dolore!
                    Voluptates libero debitis voluptatem molestias dolore in a harum repellat ea, ex provident quidem eaque asperiores quae amet, fuga fugiat id accusantium possimus voluptatum cum illum? Omnis quis eos earum!
                </p>
            </div>
        </div>
    </div>
    <div class="card" tabindex="0">
        <div class="card__body">
            <div class="card__image">
                <picture class="card__picture">
                    <source media="(max-width: 639px)" srcset="public/img_5_600x600.png">
                    <source media="(max-width: 1023px)" srcset="public/img_4_800x800.jpg">
                    <img class="card__picture__img" src="public/img_1.webp" />
                </picture>
                <div class="card__image__scroll scroll">
                    <span class="scroll__arrow"></span>
                    <span class="scroll__thumb"></span>
                    <svg class="scroll__icon-container" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <use class="scroll__icon" href="public/icons.svg#hand-index-icon"></use>
                    </svg>
                </div>
            </div>
            <div class="card__content">
                <h5 class="card__title">Тэг picture</h5>
                <p class="card__text">
                    В данной карточке показано изменение изображений в зависимости от ширины экрана
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="card">
        <h5 class="card__title">2</h5>
        <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad reprehenderit adipisci maiores dolores quae? Repellat voluptates fugit, aliquam ipsam itaque iusto expedita veniam quod quae doloribus quidem accusantium temporibus!</p>
    </div>
    <div class="cards__close"></div>
</div>