<header class="top-menu">
    <div class="burger menu-trigger"><span></span></div>
    <ul class="top-menu__container">
        <li class="top-menu__item">{{> play-button}}</li>
        <li class="top-menu__item">{{> circle-button}}</li>
        <li class="top-menu__item">{{> rectangle-button}}</li>
    </ul>
</header>