<header class="top-menu">
    <input type="checkbox" id="burger">
    <label class="burger" for="burger">
        <span class="burger__line"></span>
    </label>
    <ul class="top-menu__container">
        <li class="top-menu__item">{{> play-button}}</li>
        <li class="top-menu__item">{{> circle-button}}</li>
        <li class="top-menu__item">{{> rectangle-button}}</li>
    </ul>
</header>