<a href="#play" id="play" class="button" tabindex="0">
    <svg class="button__container" xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
        <use class="button__animation" href="public/icons.svg#play-icon"></use>
        <use class="button__animation" href="public/icons.svg#play-icon"></use>
        <use class="button__icon" href="public/icons.svg#play-icon"></use>
    </svg>
</a>