<div class="button" tabindex="0">
    <svg class="button__container" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
        <use class="button__animation" href="public/icons.svg#rectangle-icon"></use>
        <use class="button__animation" href="public/icons.svg#rectangle-icon"></use>
        <use class="button__icon" href="public/icons.svg#rectangle-icon"></use>
    </svg>
</div>