<nav class="side-menu">
    <ul class="side-menu__container">
        <li class="side-menu__item menu-item" data-count="30">
            <div class="side-menu__item__icon">
                <svg class="side-menu__item__icon-container" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <use href="public/icons.svg#circle-icon"></use>
                </svg>
            </div>
            <div class="side-menu__item__content">
                <span>30 Карточек</span>
            </div>
        </li>
        <li class="side-menu__item menu-item" data-count="8">
            <div class="side-menu__item__icon">
                <svg class="side-menu__item__icon-container" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <use href="public/icons.svg#circle-icon"></use>
                </svg>
            </div>
            <div class="side-menu__item__content">
                <span>8 Карточек</span>
            </div>
        </li>
        <li class="side-menu__item menu-item" data-count="3">
            <div class="side-menu__item__icon">
                <svg class="side-menu__item__icon-container" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <use href="public/icons.svg#circle-icon"></use>
                </svg>
            </div>
            <div class="side-menu__item__content">
                <span>3 Карточки</span>
            </div>
        </li>
        <li class="side-menu__item menu-item" data-count="0">
            <div class="side-menu__item__icon">
                <svg class="side-menu__item__icon-container" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <use href="public/icons.svg#circle-icon"></use>
                </svg>
            </div>
            <div class="side-menu__item__content">
                <span>0 Карточек</span>
            </div>
        </li>
        <li class="side-menu__item menu-item">
            <div class="side-menu__item__icon">
                <svg class="side-menu__item__icon-container" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <use href="public/icons.svg#circle-icon"></use>
                </svg>
            </div>
            <div class="side-menu__item__content">
                <span>Больше пунктов меню</span>
            </div>
        </li>
    </ul>
</nav>